<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>World Cup</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="Shortcut Icon" href="{{STATIC_URL}}images/logo_net_32.png">
<link href="{{STATIC_URL}}css/worldcup/main.css" rel="stylesheet"> 
<link href="{{STATIC_URL}}css/worldcup/media.css" rel="stylesheet"> 
<script src="{{STATIC_URL}}bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>
<style>
@media (min-width: 781px){
	.main{
		background-image:url({{STATIC_URL}}images/football1.jpg);
	}
}
</style>
</head>

<body>
<div class="container">
	<div class="navbar"><!--++++++++++++++++导航++++++++++++++++++-->
	  <div class="navbar-cup">
		<div id="world_cup_pic">
		  <a href="/index/">
		    <img src="{{STATIC_URL}}images/ball.png" alt="world cup" height="60px;">
		  </a>
		</div>
		<h3 class="menu_text" id="all_game"><a href="#" class="test">所有比赛</a></h3>
		<script>
		$(document).ready(function(){
		  $("#all_game").click(function(event){
			$(".content").load("/worldcup/all");
			event.preventDefault();	
		  }); 	  
		});
		</script>  
	  
		{%for menu in menudata%}
		<h3 class="menu_text" id="world{{menu.flag}}">
			<a href="{{menu.flag}}" >{{menu.text}}</a><br />
		</h3>

		<script>
		$(document).ready(function(){
		  $("#world{{menu.flag}}").click(function(event){
			$(".content").load("/worldcup/{{menu.flag}}");
			event.preventDefault();	
		  });  
		});
		</script>
		{%endfor%}
	  </div>
	  
	  <div class="navbar-about">
	  <ul>
		  <li style="padding-top:0"><h3 style="margin:0;padding-top:0;">
			<a href="#" style="color:#3498DB">友情链接:</a></h3>
		  </li>
		  <li><a href="http://www.zhibo8.cc/">直播8</a></li>
		  <li><a href="http://espn.go.com/">ESPN</a></li>
		  <li><a href="http://www.fifa.com/">FIFA</a></li>
		  <li><a href="http://www.fifa.com/worldcup/">World Cup</a></li>
	  </ul>
	  </div>

	</div> <!--++++++++++++++++导航完++++++++++++++++++-->

	<div class="main"> <!--++++++++++++++++内容区域++++++++++++++++++-->
	  <div class="for-ie">
		<p>此页面不针对IE系浏览器进行编写，为了享受更好的体验，请使用
		<a href="https://www.google.com/intl/zh-CN/chrome/browser/">
		<strong>chrome浏览器! </strong></a>
		</p>
	  </div>		
	  <div class="content">

	  </div>
	</div> <!--++++++++++++++++内容完++++++++++++++++++--> 
</div>
<script>
$(document).ready(function(){
  $(".content").load("/worldcup/all");
  $(".test").click(function(event){
	$(".content").load("/worldcup/all");
	event.preventDefault();	
  }); 
});
</script>


</body>
</html>
