<style>
@media screen\9,\0screen,screen and (min-width:0\0),(min-width: 781px){
.all_games{
	background-color:#000;
	background: rgba(0, 0, 0, 0.3);
	widt:100%;
	padding:20px;
	}
}
@media (min-width: 481px) and (max-width:780px){
	.all_games{
		width:480px;
		margin:auto;
	}
}
@media (max-width:480px){
	.all_games{
		width:300px;
		margin:auto;
	}
}

.all_games_title{
	text-align:center;
	padding-top:10px;
}
.all_games_title *{
	vertical-align:middle;
}
.all_game_date{
	margin:0;
	padding-top:5px;
}
.all_game_day{
	border-bottom:thin dashed #ddd;
	padding-bottom:20px;
}
.all_game_detail{
	padding-top:2px;
}


</style>

<div class="all_games">

	<h1 class="all_games_title">
	  <img src="{{STATIC_URL}}images/trophy.ico" alt="world cup" height="100px">
	  {{data.text}}
	</h1>
  
	{%for time in data.gamedate_set.all%}
	  <div class="all_game_day">
		<h4 class="all_game_date">开赛日期：{{time.date|date:"Y年m月d日"}}</h4>
		{%for game in time.game_set.all%}
		  <div class="all_game_detail">
 
			{{game.time|date:"H:i"}}&nbsp;&nbsp;&nbsp;&nbsp;
			{{game.team1}} VS {{game.team2}}&nbsp;&nbsp;
				{%if game.website%}
					<a href="{{game.website}}">直播网站</a>&nbsp;&nbsp;
				{%else%}
				    <a href="#">观看直播</a>&nbsp;&nbsp;
				{%endif%}
				{%if game.result%}
					比赛结果：{{game.result}}
					{%else%}
					未赛
				{%endif%}<br />
 	
		  </div>
		{%endfor%}
	  </div>	
	{%endfor%}
	
</div>
