html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body *{
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei";
}
a:link{
	color:#F1C40F;
	text-decoration:none;	
}
a:hover{
	text-decoration:underline;
}
a:visited{
	color:#F1C40F;
}
a:active{
	text-decoration:none;	
}
a img{
	border:none;
}
li{
	list-style-type:none;
}
.navbar-cup{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.contanier{
	position:absolute;
	width:100%;
	height:100%;
}
.navbar h3 a,.navbar-about li a{
	color:#3498DB;
}
.navbar h3 a:hover{
	text-decoration:none;
}
.for-ie{
	visibility:hidden;
	visibility:visible\0;
	*visibility:visible;
	height:0;
	height:auto\0;
	*height:auto;
	text-align:center;
	background-color:yellow;
	color:red;
}
.for-ie p{
	color:#000;
}
.for-ie p strong{
	color:red;
}
#all_game:hover a{
	color:#8E44AD;
}
#world100:hover a{
	color:#8E44AD;
}
#world100:hover a{
	color:#8E44AD;
}
#world32:hover a{
	color:#8E44AD;
}
#world16:hover a{
	color:#8E44AD;
}
#world8:hover a{
	color:#8E44AD;
}
#world4:hover a{
	color:#8E44AD;
}
#world3:hover a{
	color:#8E44AD;
}
#world1:hover a{
	color:#8E44AD;
}	
	 
