{% extends "base.html" %}
{% block title%}contact BigKola{%endblock%}

  
{% block content %}

<!--=======content================================-->

 <style type="text/css" media="screen">
		a:link{text-decoration: none;}
		a:visited{text-decoration: none;}
		a:active{text-decoration: none;}
		a:hover{text-decoration: none;}	
		.main_body{width:500px;margin:80px auto auto auto;font-family: "Helvetica"}
		.class_one{height:50px;background-color:#000;text-align:center;}
		.class_two{height:50px;background-color:red;text-align:center;}
		.class_three{height:50px;background-color:gold;text-align:center;}
		.class_one p{color: #FFF;}
		.class_two p{color: #000;}
		.class_three p{color:#c9171e;}
 </style>
<div class="main_body">
	<a href="https://plus.google.com/+KolaWang/posts">
	  <div class="class_one">
		<p>
		     <br/>G+: https://plus.google.com/+KolaWang/posts 
		 </p>
	  </div>
	</a>
	
	<a href="https://www.linkedin.com/pub/kola-wang/65/51a/62">
	  <div class="class_two">
		<p>
			<br/>Linkedin: https://www.linkedin.com/pub/kola-wang/65/51a/62
		</p>
	  </div>
	</a> 
	
	<a href="https://twitter.com/TheBigKola" >
	  <div class="class_three">
		<p>
		      <br/>twitter: https://twitter.com/TheBigKola
		</p>
	  </div>
	</a> 
	
	<a href="https://github.com/imelucifer"><div class="class_one">
		<p>
		       <br/>github: https://github.com/imelucifer
		</p>
	  </div>
	</a> 
	
	<a href="http://www.douban.com/people/imelucifer/" >
	  <div class="class_two">
		<p> 
			<br/>豆瓣：	http://www.douban.com/people/imelucifer/
		</p>
	  </div>
	</a> 
	
	<a href="http://weibo.com/thebigkola/">
	  <div class="class_three">
		<p> 
		        <br/>新浪微博：http://weibo.com/thebigkola/
		</p>
	  </div>
	</a> 
	
	<div class="class_one">
		<p>
			<br />btc：1AHHSRjmE3odZouRHZyF6jxJFEE2SWRfHP
		</p>
	</div>
	
	<div class="class_two">
		<p>
			<br />联系邮箱：kola@bigkola.info
		</p>
	</div>
</div>
{% endblock%}

